<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add new User</title>
</head>
<body>
<h1>add new user</h1>
<form th:action="@{/user/new}" method="post" enctype="multipart/form-data">
    <div>
        <input type="text" name="name" placeholder="enter name">
    </div>
    <div>
        <input type="text" name="username" placeholder="enter username">
    </div>
    <div>
        <input type="text" name="password" placeholder="enter password">
    </div>
    <div>
        <input type="text" name="birthdate" placeholder="dd/MM/yyyy">
    </div>
    <div>
        <input type="file" name="file" accept="image/*">
    </div>
    <div>
        <input type="checkbox" name="userRoles[0].role" value="ROLE_ADMIN">ROLE_ADMIN
    </div>
    <div>
        <input type="checkbox" name="userRoles[1].role" value="ROLE_STUDENT">ROLE_STUDENT
    </div>

    <div>
        <button type="submit">Create</button>
    </div>
</form>
</body>
</html>