<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit user</title>
</head>
<body>
<h1>Edit User</h1>

<form th:action="@{/user/edit}" method="post">
    <div>
        <input type="number" name="id" th:value="${user.id}"
               placeholder="Enter id...">
    </div>
    <div>
        <input type="text" name="name" th:value="${user.getName()}"
               placeholder="Enter name...">
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
</body>
</html>